html {
	box-sizing: border-box;
  background-color: #9a816d;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.info-boxes {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center
}
